/* all */
#wrap {width:1920px;}
/* header_lang */
#wrap header {}
#wrap header h1 {}
#wrap header .right_area {}
#wrap header .right_area #language {}
#wrap header .right_area #language option {}
#wrap header .right_area #language #en {}
#wrap header .right_area #language #ja {}
#wrap header .right_area #language #ch {}
#wrap header .right_area #menu_btn {}
/* sehwa_menu */
#wrap header .right_area #sehwa_menu_section {}
#wrap header .right_area #sehwa_menu_section p {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul li {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul li a {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul li ul {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul li ul li.a {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul li ul li {}
#wrap header .right_area #sehwa_menu_section #sehwa_menu #intro_duction ul li ul li a {}
